<!--
  - JPaaS
  - Copyright (C) 2011-2012 Bull S.A.S.
  - Contact: jonas@ow2.org
  -
  - Licensed under the Apache License, Version 2.0 (the "License");
  - you may not use this file except in compliance with the License.
  - You may obtain a copy of the License at
  - 
  -     http://www.apache.org/licenses/LICENSE-2.0
  - 
  - Unless required by applicable law or agreed to in writing, software
  - distributed under the License is distributed on an "AS IS" BASIS,
  - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  - See the License for the specific language governing permissions and
  - limitations under the License.
  -
  - $Id:$
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SR Tests">
  <test name="Facade tests">
    <classes>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestUserFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestApplicationFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestApplicationVersionFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestApplicationVersionInstanceFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestEnvironmentFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestApplicationEnvLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasJonasContainerFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasApacheJkRouterFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasDatabaseFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasAgentFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestIaasComputeFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasFrontendFacade"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestEnvironmentPaasResourceLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasResourcePaasAgentLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasResourceIaasComputeLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasRouterFrontendLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasContainerPaasDatabaseLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasRouterPaasContainerLink"/>
      <class name="org.ow2.jonas.jpaas.sr.facade.tests.TestPaasAgentIaasComputeLink"/>
    </classes>
  </test>
</suite>
